body {
  font-family: 'Helvetica';
  text-align: center;
}

video,
img {
  width: 90%;
  margin: 0 auto;
  display: block;
}

button {
  display: block;
  margin: 20px auto;
}

p,
h1,
h3 {
  text-align: center;
  max-width: 800px;
  display: block;
  margin: 50px auto;
}

table,
th,
td {
  border: 1px solid #eeeeee;
  border-collapse: collapse;
}

td {
  padding: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
}

canvas {
  margin: 0 auto;
  display: block;
  width: 50vw;
  height: 50vh;
}
