body {
  font-family: 'Helvetica';
  text-align: center;
}

video,
audio,
img {
  width: 90%;
  margin: 0 auto;
  display: block;
}

button {
  display: block;
  margin: 20px auto;
}

h1,
h2 {
  text-align: center;
  max-width: 800px;
  display: block;
  margin: 50px auto;
}

p {
  max-width: 600px;
  display: block;
  margin: 20px auto;
}

table {
  margin: 0 auto;
}

table,
th,
td {
  padding: 5px;
  border: 1px solid #eeeeee;
  border-collapse: collapse;
}

td div {
  min-height: 4em;
  overflow: scroll;
  max-height: 250px;
  max-width: 350px;
  font-family: monospace;
  text-align: left;
  text-indent: 0px;
  text-wrap: nowrap;
  white-space: pre;
}

td div p {
  margin-top: 0;
}

canvas {
  margin: 0 auto;
  display: block;
  width: 50vw;
  height: 50vh;
}
